.App {
  text-align: center;
  color: #111;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#root {
  background: #FFF;
  overflow-x: hidden;
}

.nav-bar {
  position: fixed;
  width: 100%;
  z-index: 4;
}

.nav {
  text-align: center;
  background: #FFFFFF;
  padding: 1rem;
}

.nav-elem {
  text-decoration: none;
  padding: 1rem;
  color: #111;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  vertical-align: middle;
}

.nav-elem:hover {
  color: #f87605;
  cursor: pointer;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1130px) {
  .nav {
    display: none;
  }
  .nav-bar {
    left: 0px;
    top: 0rem;
    margin-left: 2px;
    margin-top: 2px;
  }
  .nav-mobile {
    background: #FFFFFF;
    padding: 2px;
    margin-left: -2px;
    margin-top: -2px;
  }
  .hamburger {
    z-index: 5;
    width: 22px;
  }
}

@media (min-width: 1130px) {
  .hamburger {
    display: none;
  }
  .hamburgerDropDown {
    display: none;
  }
  .hamburgerDiv {
    display: none;
  }
  .nav-bar > div {
    display: none;
  }
}

.home {
  position: relative;
  top: 128px;
  margin-bottom: 128px;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

@media (max-width: 1130px) {
  .home {
    position: relative;
    top: 0;
    margin-bottom: 0px;
  }
}

.main-title {
  width: 25%;
  top: 15%;
  left: 10%;
  position: absolute;
  z-index: 3;
}

.footer {
  color: #FFF;
  background-color: #F87605E6;
}

.footer-text {
  text-decoration: none;
  color: inherit;
}

.whatwedo {
  text-align: center;
  margin: 0 auto;
}

.whatwedo-photo-container {
  display: flex;
}

.whatwedo-panel {
  width: 285px;
  color: #FFFFFFCC;
}

.whatwedo-image {
  width: 285px;
  object-fit: scale-down;
}

.variety-shows {
  background: #9a69cb;
}

.comedy {
  background: #e81c62;
}

.music {
  background: #f87605;
}

.party {
  background: #6639b6;
}
.whatwedo {
  width: 100%;
}

.whatwedo-text {
  text-align: center;
  padding: 2.14rem 2.14rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.whatwedo-intro {
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.whatwedo-photo-wrapper {
  display: flex;
  justify-content: center;
}

.whatwedo-text-container {
  width: 100%;
  text-align: center;
}

@media (max-width: 800px) {
  .whatwedo-photo-wrapper {
    display: block;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }

  .whatwedo-photo-container {
    display: block;
  }

  .whatwedo-panel {
    align-items: center;
    width: auto;
  }
}

.header-text {
  font-size: 36px;
  font-weight: 400;
}

.special-text {
  color: #f87605;
  font-size: 11px;
}

.whyus {
  background: #f87605;
  color: #FFFFFFCC;
  display: flex;
  justify-content: center;
}

.whyus-container {
  display: flex;
}

.whyus-text {
  width: 50%;
  margin-top: 5rem;
  margin-right: 5%;
  margin-left: 5%;
  line-height: 1.6;
}

.whyus-text h1 {
  color: #FFF;
  font-weight: 700;
}

.whyus-text p {
  font-weight: 400;
}

@media (max-width: 840px) {
  .whyus-container {
    display: block;
  }
  .whyus {
    display: block;
  }
  .whyus-text {
    width: 90%;
  }
}

.rob {
  width: 50%;
  margin: 5rem;
  object-fit: scale-down;
}

.bullet {
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.bullet-wrapper {
  display: flex;
  justify-content: center;
}

.event {
  color: #FFF;
  background: #f87605;
  width: 100%
}

.ticket-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.inner-ticket-container {
  display: flex;
}

.inner-ticket-container h2 {
  padding: 1rem;
}

.ticket-button {
  margin-top: 2rem;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  background: #f87605;
  border: 1px solid #FFF;
  padding: 0.5rem 1rem;
}

.ticket-button:hover {
  background: #FFF;
  color: #000;
}

@media (max-width: 840px) {
  .ticket-container {
    display: block;
    justify-content: space-around;
    padding: 1rem;
  }
}

.component-footer {
  height: 100px;
  width: 100%;
  background: #FFF;
}

.fill {
  width: 0;
  height: 0;
  border-bottom: 100px solid #f87605;
  border-right: 100vw solid transparent;
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.gallery-main {
  display: grid;
  grid-template-columns: 310px 310px 310px;
  grid-template-rows: 235px 235px 235px;
  justify-content: center;
}

.gallery-lower {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-template-rows: 343px 343px;
  justify-content: center;
}

.gallery-bottom {
  padding: 5px;
}

.gallery-img {
  width: 300px;
}

.gallery-img-l {
  width: 250px;
}

@media (max-width: 900px) {
  .gallery-main {
    display: grid;
    grid-template-columns: 310px 310px;
    grid-template-rows: 235px 235px 235px 235px 235px;
    justify-content: center;
  }

  .gallery-lower {
    display: grid;
    grid-template-columns: 260px 260px;
    grid-template-rows: 343px 343px 343px 343px;;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .gallery-main {
    display: grid;
    grid-template-columns: 310px;
    grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px 235px;
    justify-content: center;
  }

  .gallery-lower {
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: 343px 343px 343px 343px 343px 343px 343px;
    justify-content: center;
  }
}

.about-wrapper {
  padding: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.6;
}

.about {
  color: white;
  background: #1d1a37;
}

.nav-logos:hover {
  opacity: 50%;
}

.nav-logo {
  width: 80px;
}

.aboutus-img {
  width: 360px;
}

@media (max-width: 600px) {
  .about-wrapper {
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
  .aboutus-img {
    width: 310px;
  }
}

.press {
  color: white;
}

.press:hover {
  color: #f87605;
}
